body{
    background-color : #2A2D36;
    color : white;
    font-family : "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14 px;
}

body {
    display: block;
    margin: 8px;
}


div{
    display:block;
}

#image-container {
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-between;
    margin-top: 25px;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

#image-container img {
    height: auto;
    margin: 7px;
    filter: drop-shadow(0 0 1em #B9C6DC); 
}

img{
    overflow-clip-margin: content-box;
    overflow: clip;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    
}

#favorites-list{
    display: flex;
    justify-content: center;
}

#favorites-list img {
    width: auto;
    height: 200px;
    margin: 20px;
}

/* working code for a 3x3 flexbox */
/* div#favorites-list{
    display: flex;
    margin: 10px 0 0;
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    border: 5px solid 
    #81AEFB;
    margin: 5px;
} */


hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    color: white
}



/*This is where Preston's css starts*/
#stars {
    display: flex;
    justify-content: center;
    overflow: auto;
    width: 170%;
    height: 170%;
  }
  
  
  
  #duck-display img {
    display: flex;
    height: 80vh;
    border: solid black 3px;
    border-radius: 3em;
  }
  
  #global-header{
    background-image: url(https://images.nasa.gov/images/global-header_bg.jpg);
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -8px;
    
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
  
  }
  
  #search-container{
    float: left;
    width:38%;
  }
  
  #search-bar{
    background: #2A2D36;
    min-width: 180px;
  
    margin: 2em;
  
  }
  
  #search-bar label{
    min-width: 80px;
  }
  
  #search-input{
    border-color: #15418C;
    box-sizing : border-box;
    border-width: 3px;
    border-style: solid;
  
  }
  
  #logo-container{
    float: right;
    width:60%;
    margin-top: 5px;
  }
  
  #logo-wrapper{  
    float:right;
  }
  
  form label {
    display: block;
  }