body {
  background: lightblue;
  text-align: center;
}

#stars {
  display: flex;
  justify-content: center;
  overflow: auto;
  width: 170%;
  height: 170%;
}

/* #duck-nav img {
  width: 150px;
  border: solid black 2px;
  margin: 0.3em;
  border-radius: 0.5em;
} */

#duck-display img {
  display: flex;
  height: 80vh;
  border: solid black 3px;
  border-radius: 3em;
}

#global-header{
  background-image: url(global-header_bg.jpg);
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;

  display : flex;
  flex-direction: row;
  flex-wrap: wrap;

}

#search-container{
  float: left;
  width:38%;
}

#logo-container{
  /* align-content: flex-end; */
  float: right;
  width:60%;
}

#logo-wrapper{  
  float:right;
}

#duck-display button {
  background: pink;
  border: solid black 1px;
  border-radius: 0.5em;
  margin-top: 1em;
  padding: 0.75em;
  font-weight: bold;
}

form {
  background: yellow;
  margin: 2em;
}

form label {
  display: block;
}
